data/
resources/
workdir/
# FastCSR
model/
# SageReg
model_files/

.idea

*.xdebug_tksurfer
*.pptx
*.log

*.whl

__pycache__/
*.py[cod]
*$py.class

*.nextflow*
work/

*.sif

license.txt
*.tar.gz
*.zip
*.png
*.html

docs/build
/deepprep/rest/
