params {
    profile = "standard"

    bids_dir = "/mnt/ngshare/temp/MSC"
    subjects_dir = "/mnt/ngshare/temp/MSC_nf"
    qc_result_path = "/mnt/ngshare/temp/MSC_qc_result"

    fsthreads = 1

    freesurfer_home = "/usr/local/freesurfer720"
    freesurfer_fsaverage_dir = "/home/anning/workspace/DeepPrep/deepprep/FreeSurfer/fsaverage"

    fastsurfer_home = "/home/anning/workspace/DeepPrep/deepprep/FastSurfer"

    fastcsr_home = "/home/anning/workspace/DeepPrep/deepprep/FastCSR"
    fastcsr_model_path = "/home/anning/workspace/DeepPrep/deepprep/model/FastCSR"

    surfreg_home = "/home/anning/workspace/DeepPrep/deepprep/SageReg"
    surfreg_model_path = "/home/anning/workspace/DeepPrep/deepprep/model/SageReg/model_files"

    nextflow_bin_path = "/home/anning/workspace/DeepPrep/deepprep/nextflow/bin"
}

workDir = "/mnt/ngshare/temp/MSC_nf_workDir"
dag.overwrite = true
timeline.overwrite = true
report.overwrite = true


process {
  executor = 'local'

  withLabel: with_gpus {
  maxForks = 1
  }

}
