
// start for local //

singularity.enabled = true
singularity.autoMounts = false
singularity.runOptions = '-e \
    --home ${output_dir}/WorkDir/home \
    --env TEMP=${output_dir}/WorkDir/tmp \
    --env TMP=${output_dir}/WorkDir/tmp \
    --env TMPDIR=${output_dir}/WorkDir/tmp \
    -B ${bids_dir} \
    -B ${output_dir} \
    -B ${subjects_dir} \
    -B ${fs_license_file}:/opt/freesurfer/license.txt \
'

executor {
    name = 'local'
//cpus=                 //    cpus = 54  // set（CPUs_real * 1.5）
//memory=              //    memory = '54 GB'  // set （RAM + Swap space - 10）GB
}

process {
//errorStrategy = 'ignore'

    executor = 'local'

    container = '${container}'

    withLabel: with_gpu {
        maxForks = 2
        singularity.runOptions = '-e --nv \
            --home ${output_dir}/WorkDir/home \
            --env TEMP=${output_dir}/WorkDir/tmp \
            --env TMP=${output_dir}/WorkDir/tmp \
            --env TMPDIR=${output_dir}/WorkDir/tmp \
            -B ${bids_dir} \
            -B ${output_dir} \
            -B ${subjects_dir} \
            -B ${fs_license_file}:/opt/freesurfer/license.txt \
            '
    }
}

// end for local //
