
// start for local //

docker.enabled = true
docker.autoMounts = false
docker.runOptions = ' \
--env TEMP=${output_dir}/WorkDir/tmp \
--env TMP=${output_dir}/WorkDir/tmp \
--env TMPDIR=${output_dir}/WorkDir/tmp \
-v ${bids_dir}:${bids_dir} \
-v ${output_dir}:${output_dir} \
-v ${fs_license_file}:/opt/freesurfer/license.txt \
'

executor {
    name = 'local'
//cpus=                 //    cpus = 54  // set（CPUs_real * 1.5）
//memory=              //    memory = '54 GB'  // set （RAM + Swap space - 10）GB
}

process {
//errorStrategy = 'ignore'

    executor = 'local'

    container = '${container}'

}

// end for local //
