params {
    profile = "standard"

    bids_dir = "/lustre/grp/lhslab/sunzy/anning/MSC"
    subjects_dir = "/lustre/grp/lhslab/sunzy/anning/MSC_nf"
    bold_preprocess_path = "/lustre/grp/lhslab/sunzy/anning/MSC_BoldPreprocess"
    qc_result_path = "/lustre/grp/lhslab/sunzy/anning/MSC_qc_result"

    nextflow_bin_path = "/lustre/grp/lhslab/sunzy/anning/DeepPrep/deepprep/nextflow/bin"

    freesurfer_home = "/lustre/grp/lhslab/sunzy/freesurfer/freesurfer720"
    freesurfer_fsaverage_dir = "/lustre/grp/lhslab/sunzy/anning/DeepPrep/deepprep/FreeSurfer/fsaverage"

    fastsurfer_home = "/lustre/grp/lhslab/sunzy/anning/DeepPrep/deepprep/FastSurfer"

    fastcsr_home = "/lustre/grp/lhslab/sunzy/anning/DeepPrep/deepprep/FastCSR"
    fastcsr_model_path = "/lustre/grp/lhslab/sunzy/anning/DeepPrep/deepprep/model/FastCSR"

    surfreg_home = "/lustre/grp/lhslab/sunzy/anning/DeepPrep/deepprep/SageReg"
    surfreg_model_path = "/lustre/grp/lhslab/sunzy/anning/deepprep/model/SageReg/model_files"

    vxm_model_path = "/lustre/grp/lhslab/sunzy/anning/DeepPrep/deepprep/model/voxelmorph"

    anat_fsthreads = 1
    bold_task = "rest"
    bold_skip_reorient_nskip = 0
    bold_vxmregnormmni152_resource_dir = "/lustre/grp/lhslab/sunzy/anning/DeepPrep/deepprep/resource"
    bold_vxmregnormmni152_batch_size = 16
    bold_vxmregnormmni152_standard_space = "True"
    bold_vxmregnormmni152_fs_native_space = "True"
    atlas_type = "MNI152_T1_2mm"
    device = "cuda"
}

dag.overwrite = true
timeline.overwrite = true
report.overwrite = true

process {
  executor = 'slurm'
  queue = 'cpu1,cpu2,fat,amd1,hygon,sugon'
  clusterOptions = { " --chdir=/lustre/grp/lhslab/sunzy/anning/slurm_workdir" }

  withLabel: with_gpus {
  queue = 'gpu1,gpu2'
  clusterOptions = { " --gres=gpu:1" }
  }
}
