params {

  bids_dir = "/lustre/grp/lhslab/sunzy/anning/MSC"
  subjects_dir = "/lustre/grp/lhslab/sunzy/anning/MSC_nf"
  qc_result_path = "/lustre/grp/lhslab/sunzy/anning/MSC_qc_result"
  fsthreads = 1

  freesurfer_home = "/lustre/grp/lhslab/sunzy/freesurfer/freesurfer720"
  freesurfer_fsaverage_dir = "/lustre/grp/lhslab/sunzy/anning/deepprep/FreeSurfer/fsaverage"

  fastsurfer_home = "/lustre/grp/lhslab/sunzy/anning/deepprep/FastSurfer"

  fastcsr_home = "/lustre/grp/lhslab/sunzy/anning/deepprep/FastCSR"
  fastcsr_model_path = "/lustre/grp/lhslab/sunzy/anning/deepprep/model/FastCSR"

  surfreg_home = "/lustre/grp/lhslab/sunzy/anning/deepprep/SageReg"
  surfreg_model_path = "/lustre/grp/lhslab/sunzy/anning/deepprep/model/SageReg/model_files"

  nextflow_bin_path = "/lustre/grp/lhslab/sunzy/anning/deepprep/nextflow/bin"
}


workDir = "/lustre/grp/lhslab/sunzy/anning/MSC_nf_workDir"

dag.overwrite = true
timeline.overwrite = true
report.overwrite = true

process {
  executor = 'slurm'
  queue = 'amd1,cpu1,cpu2,hygon,sugon,fat'
  clusterOptions = { " --chdir=/lustre/grp/lhslab/sunzy/anning/slurm_workdir" }

  withLabel: with_gpus {
  queue = 'gpu1,gpu2'
  clusterOptions = { " --gres=gpu:1" }
  }
}
