params {
    bids_dir = ""
    subjects_dir = ""  // optional

    freesurfer_home = ""
    fsl_home = ""

    task_id = ""  // optional
    subject_id = ""  // optional
    bold_only = true

    output_dir = ""
}

dag.overwrite = true
timeline.overwrite = true
report.overwrite = true

// start for local //

executor {
    name = 'local'
//    cpus = 30  // set（CPUs_real * 1.5）
//    memory = '54 GB'  // set （RAM + Swap space - 10）GB
}

process {
//    errorStrategy = 'ignore'

//    executor = 'slurm'
//    queue = 'cpu1,fat'
//    clusterOptions = { " --chdir=/lustre/grp/lhslab/sunzy/TEMPDIR" }

    withLabel: maxForks_10 {
        maxForks = 10
    }

    withLabel: maxForks_2 {
        maxForks = 2
    }

    withLabel: maxForks_1 {
        maxForks = 1
    }

    withLabel: with_gpu {
        maxForks = 2
    }
}

// end for local //
