params {
    profile = "standard"

    bids_dir = ""
    subjects_dir = "None"
    bold_preprocess_path = ""
    qc_result_path = ""

    anat_only = "False"
    bold_only = "False"

    bold_task_type = "rest"
    bold_skip_frame = 0
    bold_reorient = "True"
    bold_susceptibility_distortion_correction = "False"  // TODO

    bold_nstd_space = ["reorient", "mc", "T1w_2mm"]
    bold_std_space = ["MNI152_T1_2mm"]
    bold_fs_native_space = "True"
    bold_atlas_type = "MNI152_T1_2mm"

    // dont change below settings
    device = "auto"
    anat_fsthreads = 1

    nextflow_bin_path = "/lustre/grp/lhslab/sunzy/anning/workspace/DeepPrep/deepprep/nextflow/bin"
    freesurfer_home = "/lustre/grp/lhslab/sunzy/freesurfer/freesurfer720"
    freesurfer_fsaverage_dir = "/lustre/grp/lhslab/sunzy/anning/workspace/DeepPrep/deepprep/FreeSurfer/fsaverage"
    fastsurfer_home = "/lustre/grp/lhslab/sunzy/anning/workspace/DeepPrep/deepprep/FastSurfer"
    fastcsr_home = "/lustre/grp/lhslab/sunzy/anning/workspace/DeepPrep/deepprep/FastCSR"
    fastcsr_model_path = "/lustre/grp/lhslab/sunzy/anning/workspace/DeepPrep/deepprep/model/FastCSR"
    surfreg_home = "/lustre/grp/lhslab/sunzy/anning/workspace/DeepPrep/deepprep/SageReg"
    surfreg_model_path = "/lustre/grp/lhslab/sunzy/anning/workspace/DeepPrep/deepprep/model/SageReg/model_files"
    synthmorph_template_path = "/lustre/grp/lhslab/sunzy/anning/workspace/DeepPrep/deepprep/model/Synthmorph/template"
    synthmorph_model_path = "/lustre/grp/lhslab/sunzy/anning/workspace/DeepPrep/deepprep/model/Synthmorph/models"

    deepprep_version = 'v0.0.1'
}

workDir = "/lustre/grp/lhslab/sunzy/anning/DEEPPREP_WORKDIR/nextflow_workDir"
dag.overwrite = true
timeline.overwrite = true
report.overwrite = true

singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = '-e -B /lustre/grp/lhslab/sunzy/freesurfer/freesurfer720/license.txt:/usr/local/freesurfer/license.txt'

process {
    errorStrategy = 'ignore'

    executor = 'slurm'
    queue = 'cpu1,cpu2,amd1,fat,gpu2'
    clusterOptions = { " --chdir=/lustre/grp/lhslab/sunzy/TEMPDIR" }

    container = "/lustre/grp/lhslab/sunzy/anning/DEEPPREP_WORKDIR/deepprep_v0.0.9ubuntu22.04.sif"

    withLabel: with_gpu {
        queue = 'gpu2'
        clusterOptions = { " --gres=gpu:1" }
        singularity.runOptions = '-e --nv -B /lustre/grp/lhslab/sunzy/freesurfer/freesurfer720/license.txt:/usr/local/freesurfer/license.txt'
    }
}
