
singularity.enabled = true
singularity.autoMounts = true
singularity.runOptions = '-e -B ${fs_license_file}:/opt/freesurfer/license.txt'

process {
//errorStrategy = 'ignore'

    executor = 'slurm'

    queue = 'cpu1,cpu2,fat'

    clusterOptions = { " --chdir=${nextflow_work_dir}" }

    container = "${container}"

//     withLabel: with_gpu {
//         queue = 'gpu2'
//         clusterOptions = { " --gres=gpu:1" }
//         singularity.runOptions = '-e --nv -B ${fs_license_file}:/opt/freesurfer/license.txt'
//     }
}
