
// start for local //

executor {
    name = 'local'
//cpus=                 //    cpus = 54  // set（CPUs_real * 1.5）
//memory=              //    memory = '54 GB'  // set （RAM + Swap space - 10）GB
}

process {
//errorStrategy = 'ignore'

    executor = 'local'

    withLabel: maxForks_10 {
        maxForks = 10
    }

    withLabel: maxForks_2 {
        maxForks = 2
    }

    withLabel: maxForks_1 {
        maxForks = 1
    }

    withLabel: with_gpu {
        maxForks = 2
    }
}

// end for local //
