params {
    profile = "standard"

    bids_dir = ""
    subjects_dir = "None"
    output_dir = ""
    participant_label = ""
    skip_bids_validation = "False"

    anat_only = "False"
    bold_only = "False"

    bold_task_type = ""
    bold_skip_frame = 0
    bold_sdc = "True"
    bold_confounds = "True"

    bold_surface_spaces = "fsaverage6"
    bold_volume_space = "MNI152NLin6Asym"
    bold_volume_res = "02"

    exec_env = "docker"

    device = "auto"
    gpu_compute_capability = "0"

    mriqc = "False"
    debug = "False"
    // Please don't change the settings below
    fs_threads = 1

    freesurfer_home = "/opt/freesurfer"
    fs_license_file = "${fs_license_file}"
    deepprep_home = "/opt/DeepPrep"
    fastsurfer_home = "/opt/DeepPrep/deepprep/FastSurfer"
    fastcsr_home = "/opt/DeepPrep/deepprep/FastCSR"
    fastcsr_model_path = "/opt/DeepPrep/deepprep/model/FastCSR"
    surfreg_home = "/opt/DeepPrep/deepprep/SUGAR"
    surfreg_model_path = "/opt/DeepPrep/deepprep/model/SUGAR/model_files"
    synthmorph_home = "/opt/DeepPrep/deepprep/SynthMorph"
    synthmorph_model_path = "/opt/DeepPrep/deepprep/model/SynthMorph/models"
    templateflow_home = "/home/root/.cache/templateflow"
    qc_utils_path = "/opt/DeepPrep/deepprep/nextflow/bin/qc_tool"
    reports_utils_path = "/opt/DeepPrep/deepprep/nextflow/bin/reports"

    deepprep_version = '23.1.0'
    preprocess_others = 'False'
}

dag.overwrite = true
timeline.overwrite = true
report.overwrite = true
