params {
    profile = "standard"

    bids_dir = ""
    subjects_dir = "None"
    output_dir = ""
    subjects = ""

    anat_only = "False"
    bold_only = "False"

    bold_task_type = ""
    bold_skip_frame = 0
    bold_sdc = "True"
    bold_confounds = "True"

    bold_surface_spaces = "fsaverage6"
    bold_template_space = "MNI152NLin6Asym"
    bold_template_res = "02"

    mriqc = "False"
    // Please donot change the settings below
    device = "auto"
    anat_fsthreads = 1

    freesurfer_home = "/usr/local/freesurfer"
    fs_license_file = "${freesurfer_home}/license.txt"
    deepprep_home = "/opt/DeepPrep"
    fastsurfer_home = "${deepprep_home}/deepprep/FastSurfer"
    fastcsr_home = "${deepprep_home}/deepprep/FastCSR"
    fastcsr_model_path = "${deepprep_home}/deepprep/model/FastCSR"
    surfreg_home = "${deepprep_home}/deepprep/SageReg"
    surfreg_model_path = "${deepprep_home}/deepprep/model/SageReg/model_files"
    synthmorph_home = "${deepprep_home}/deepprep/SynthMorph"
    synthmorph_model_path = "${deepprep_home}/deepprep/model/SynthMorph/models"
    templateflow_home = "/home/root/.cache/templateflow"
    qc_utils_path = "${deepprep_home}/deepprep/nextflow/bin/qc_tool"
    reports_utils_path = "${deepprep_home}/deepprep/nextflow/bin/reports"

    deepprep_version = 'v0.0.1'
    preprocess_others = 'False'
}

dag.overwrite = true
timeline.overwrite = true
report.overwrite = true
