params {
    profile = "standard"

    bids_dir = "/mnt/ngshare/temp/MSC"
    subjects_dir = "/mnt/ngshare/temp/MSC_Recon"
    bold_preprocess_path = "/mnt/ngshare/temp/MSC_BoldPreprocess"
    qc_result_path = "/mnt/ngshare/temp/MSC_OQC_result"

    nextflow_bin_path = "/home/anning/workspace/DeepPrep/deepprep/nextflow/bin"

    freesurfer_home = "/usr/local/freesurfer"
    freesurfer_fsaverage_dir = "/home/anning/workspace/DeepPrep/deepprep/FreeSurfer/fsaverage"

    fastsurfer_home = "/home/anning/workspace/DeepPrep/deepprep/FastSurfer"

    fastcsr_home = "/home/anning/workspace/DeepPrep/deepprep/FastCSR"
    fastcsr_model_path = "/home/anning/workspace/DeepPrep/deepprep/model/FastCSR"

    surfreg_home = "/home/anning/workspace/DeepPrep/deepprep/SageReg"
    surfreg_model_path = "/home/anning/workspace/DeepPrep/deepprep/model/SageReg/model_files"

    vxm_model_path = "/home/anning/workspace/DeepPrep/deepprep/model/voxelmorph"

    anat_fsthreads = 1

    bold_task = "motor"
    bold_skip_reorient_nskip = 0
    bold_vxmregnormmni152_resource_dir = "/home/anning/workspace/DeepPrep/deepprep/resource"
    bold_vxmregnormmni152_batch_size = 16
    bold_vxmregnormmni152_standard_space = "True"
    bold_vxmregnormmni152_fs_native_space = "True"
    synthmorph_template_path = "/home/anning/workspace/DeepPrep/deepprep/model/Synthmorph/template"
    synthmorph_model_path = "/home/anning/workspace/DeepPrep/deepprep/model/Synthmorph/models"
    atlas_type = "MNI152_T1_2mm"
    device = "cuda"

    anat_only = "False"
    bold_only = "False"
}

workDir = "/mnt/ngshare/temp/MSC_One_nf_workDir"
dag.overwrite = true
timeline.overwrite = true
report.overwrite = true

// start for local //

executor {
    name = 'local'
    cpus = 30
    memory = '100 GB'
}

process {
    withLabel: with_gpu {
        maxForks = 1
    }
}

// end for local //
