params {
    profile = "standard"

    bids_dir = "/mnt/ngshare/temp/MSC"
    subjects_dir = "/mnt/ngshare/temp/MSC_Docker_Recon"
    bold_preprocess_path = "/mnt/ngshare/temp/MSC_Docker_BoldPreprocess"
    qc_result_path = "/mnt/ngshare/temp/MSC_Docker_QC_result"

    nextflow_bin_path = "/root/workspace/DeepPrep/deepprep/nextflow/bin"

    freesurfer_home = "/usr/local/freesurfer"
    freesurfer_fsaverage_dir = "/root/workspace/DeepPrep/deepprep/FreeSurfer/fsaverage"

    fastsurfer_home = "/root/workspace/DeepPrep/deepprep/FastSurfer"

    fastcsr_home = "/root/workspace/DeepPrep/deepprep/FastCSR"
    fastcsr_model_path = "/root/workspace/DeepPrep/deepprep/model/FastCSR"

    surfreg_home = "/root/workspace/DeepPrep/deepprep/SageReg"
    surfreg_model_path = "/root/workspace/DeepPrep/deepprep/model/SageReg/model_files"

    vxm_model_path = "/root/workspace/DeepPrep/deepprep/model/voxelmorph"

    anat_fsthreads = 1

    bold_task = "rest"
    bold_skip_reorient_nskip = 0
    bold_fs_native_space = "True"
    bold_synthmorph_template_path = "/root/workspace/DeepPrep/deepprep/model/Synthmorph/template"
    bold_synthmorph_model_path = "/root/workspace/DeepPrep/deepprep/model/Synthmorph/models"
    atlas_type = "MNI152_T1_2mm"
    device = "cuda"

    anat_only = "False"
    bold_only = "False"
}

workDir = "/mnt/workDir"
dag.overwrite = true
timeline.overwrite = true
report.overwrite = true

// start for local //

executor {
    name = 'local'
    cpus = 54  // set（CPUs_real * 1.5）
    memory = '54 GB'  // set （RAM + Swap space - 10）GB
}

process {
//    errorStrategy = 'ignore'

    withLabel: maxForks_10 {
        maxForks = 10
    }

    withLabel: maxForks_2 {
        maxForks = 2
    }

    withLabel: maxForks_1 {
        maxForks = 1
    }

    withLabel: with_gpu {
        maxForks = 2
    }
}

// end for local //
