params {
    profile = "standard"

    bids_dir = ""
    subjects_dir = ""
    bold_preprocess_path = ""
    qc_result_path = ""
    subjects = ""

    anat_only = "False"
    bold_only = "False"

    bold_task_type = ""
    bold_skip_frame = 0
    bold_sdc = "True"

    bold_spaces = "T1w fsnative"
    bold_template_space = "MNI152NLin6Asym"
    bold_template_resolution = "02"

    // dont change below settings
    device = "auto"
    anat_fsthreads = 1

    freesurfer_home = "/usr/local/freesurfer"
    fs_license_file = "/usr/local/freesurfer/license.txt"
    freesurfer_fsaverage_dir = "/deepprep/FreeSurfer/fsaverage"
    fastsurfer_home = "/deepprep/FastSurfer"
    fastcsr_home = "/deepprep/FastCSR"
    fastcsr_model_path = "/deepprep/model/FastCSR"
    surfreg_home = "/deepprep/SageReg"
    surfreg_model_path = "/deepprep/model/SageReg/model_files"
    synthmorph_home = "/deepprep/SynthMorph"
    synthmorph_template_path = "/deepprep/model/Synthmorph/template"
    synthmorph_model_path = "/deepprep/model/Synthmorph/models"
    templateflow_home = "/home/root/.cache/templateflow"

    qc_utils_path = "/deepprep/nextflow/bin/qc_tool"
    reports_utils_path = "/deepprep/nextflow/bin/reports"

    deepprep_version = 'v0.0.1'

    preprocess_others = 'False'
}

workDir = "/nextflow/workDir"
dag.overwrite = true
timeline.overwrite = true
report.overwrite = true

// start for local //

executor {
    name = 'local'
    cpus = 54  // set（CPUs_real * 1.5）
    memory = '54 GB'  // set （RAM + Swap space - 10）GB
}

process {
//    errorStrategy = 'ignore'

    withLabel: maxForks_10 {
        maxForks = 10
    }

    withLabel: maxForks_2 {
        maxForks = 2
    }

    withLabel: maxForks_1 {
        maxForks = 1
    }

    withLabel: with_gpu {
        maxForks = 2
    }
}

// end for local //
