params {
    profile = "standard"

    bids_dir = "/mnt/ngshare/temp/MSC"
    subjects_dir = "/mnt/ngshare/temp/MSC_nf"
    bold_preprocess_path = "/mnt/ngshare/temp/BoldPreprocess"
    qc_result_path = "/mnt/ngshare/temp/MSC_qc_result"

    nextflow_bin_path = "/home/anning/workspace/DeepPrep/deepprep/nextflow/bin"

    freesurfer_home = "/usr/local/freesurfer720"
    freesurfer_fsaverage_dir = "/home/anning/workspace/DeepPrep/deepprep/FreeSurfer/fsaverage"

    fastsurfer_home = "/home/anning/workspace/DeepPrep/deepprep/FastSurfer"

    fastcsr_home = "/home/anning/workspace/DeepPrep/deepprep/FastCSR"
    fastcsr_model_path = "/home/anning/workspace/DeepPrep/deepprep/model/FastCSR"

    surfreg_home = "/home/anning/workspace/DeepPrep/deepprep/SageReg"
    surfreg_model_path = "/home/anning/workspace/DeepPrep/deepprep/model/SageReg/model_files"

    vxm_model_path = "/home/anning/workspace/DeepPrep_all/deepprep/model/voxelmorph"
    resource_dir = "/home/anning/workspace/DeepPrep_all/deepprep/resource"

    anat_fsthreads = 1
    bold_task = "rest"
    nskip = 0
    batch_size = 16
    atlas_type = "MNI152_T1_2mm"
    device = "cuda"
}

workDir = "/mnt/ngshare/temp/MSC_nf_workDir"
dag.overwrite = true
timeline.overwrite = true
report.overwrite = true


process {
  executor = 'local'

  withLabel: with_gpus {
  maxForks = 1
  }

}
