params {
  bids_dir = "/mnt/ngshare/temp/MSC"
  subjects_dir = "/mnt/ngshare/temp/MSC_nf"
  fsthreads = 1

  freesurfer_home = "/usr/local/freesurfer720"

  fastsurfer_home = "/home/lincong/workspace/DeepPrep_all/deepprep/FastSurfer"

  fastcsr_home = "/home/lincong/workspace/DeepPrep_all/deepprep/FastCSR"
  fastcsr_model_path = "/home/lincong/workspace/DeepPrep_all/deepprep/model/FastCSR"

  surfreg_home = "/home/lincong/workspace/DeepPrep_all/deepprep/SageReg"
  surfreg_model_path = "/home/lincong/workspace/DeepPrep_all/deepprep/model/SageReg/model_files"

  nextflow_bin_path = "/home/lincong/workspace/DeepPrep_all/deepprep/nextflow/bin"

  bold_preprocess_path = "/mnt/ngshare/temp/BoldPreprocess"
  vxm_model_path = "/home/lincong/workspace/DeepPrep_all/deepprep/model/voxelmorph"
  resource_dir = "/home/lincong/workspace/DeepPrep_all/deepprep/resource"
  bold_task = "rest"
  nskip = 0
  batch_size = 16
  atlas_type = "MNI152_T1_2mm"
  device = "cuda"
}

dag.overwrite = true
timeline.overwrite = true

